.quiqqer-erp-email-text-settings {
    border: none;
    padding: 0;
}

.quiqqer-erp-email-text-settings-locale-container {
    background: #f4f2f0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: calc(100% - 50px);
}

.quiqqer-erp-email-text-settings-locale-container .quiqqer-translator-entry {
    overflow: visible;
    width: calc(100% - 40px);
}

.quiqqer-erp-email-text-settings-locale-container .quiqqer-translator-entry > input {
    width: calc(100% - 30px);
}

.quiqqer-erp-email-text-settings-locale-container .quiqqer-lang-contentmultilang {
    border: none;
    padding: 0;
}

.quiqqer-erp-email-text-settings-locale-container--help {
    line-height: 50px !important;
    position: absolute;
    right: -50px;
    text-align: center;
    top: 0;
    width: 50px;
}

.html5tooltip-box {
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.75);
    color: #24587e !important;
    text-align: left !important;
}

.html5tooltip-text ul {
    padding-left: 15px;
}

