parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: ajax/calcBruttoPrice.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: ajax/calcBruttoPrice.php

		-
			message: "#^Instanceof between \\*NEVER\\* and QUI\\\\ERP\\\\Tax\\\\TaxEntry will always evaluate to false\\.$#"
			count: 1
			path: ajax/calcBruttoPrice.php

		-
			message: "#^Binary operation \"\\*\" between string and \\(float\\|int\\) results in an error\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Instanceof between \\*NEVER\\* and QUI\\\\ERP\\\\Tax\\\\TaxEntry will always evaluate to false\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, float given\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, float given\\.$#"
			count: 1
			path: ajax/calcNettoPrice.php

		-
			message: "#^Method QUI\\\\ERP\\\\ErpEntityInterface\\:\\:getCustomerFiles\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ajax/customerFiles/getFiles.php

		-
			message: "#^Parameter \\#9 \\$attachedMediaFiles of static method QUI\\\\ERP\\\\Output\\\\Output\\:\\:sendPdfViaMail\\(\\) expects array\\<QUI\\\\Projects\\\\Media\\\\File\\|QUI\\\\Projects\\\\Media\\\\Image\\>, array\\<int\\<0, max\\>, QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\> given\\.$#"
			count: 1
			path: ajax/output/sendMail.php

		-
			message: "#^Method QUI\\\\ERP\\\\Accounting\\\\ArticleList\\:\\:getOrder\\(\\) has invalid return type QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/ArticleList.php

		-
			message: "#^Parameter \\$Order of method QUI\\\\ERP\\\\Accounting\\\\ArticleList\\:\\:setOrder\\(\\) has invalid type QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/ArticleList.php

		-
			message: "#^Property QUI\\\\ERP\\\\Accounting\\\\ArticleList\\:\\:\\$Order has unknown class QUI\\\\ERP\\\\Order\\\\AbstractOrder as its type\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/ArticleList.php

		-
			message: "#^Call to method getAttribute\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Call to method getDeliveryAddress\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\AbstractOrder\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Class QUI\\\\ERP\\\\Order\\\\AbstractOrder not found\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Offset 0 on array\\<string, mixed\\> in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Offset 0 on array\\<string, string\\> in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Parameter \\$Invoice of method QUI\\\\ERP\\\\Accounting\\\\Calc\\:\\:calculateInvoicePayments\\(\\) has invalid type QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 2
			path: src/QUI/ERP/Accounting/Calc.php

		-
			message: "#^Parameter \\$Transaction of method QUI\\\\ERP\\\\ErpTransactionsInterface\\:\\:addTransaction\\(\\) has invalid type QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 1
			path: src/QUI/ERP/ErpTransactionsInterface.php

		-
			message: "#^Parameter \\$Transaction of method QUI\\\\ERP\\\\ErpTransactionsInterface\\:\\:linkTransaction\\(\\) has invalid type QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 1
			path: src/QUI/ERP/ErpTransactionsInterface.php

		-
			message: "#^Parameter \\#1 \\$code of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:activate\\(\\) expects string, false given\\.$#"
			count: 1
			path: src/QUI/ERP/Manufacturers.php

		-
			message: "#^Strict comparison using \\=\\=\\= between mixed and '' will always evaluate to false\\.$#"
			count: 2
			path: src/QUI/ERP/Manufacturers.php

		-
			message: "#^Call to method createPDF\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/ERP/Output/Output.php

		-
			message: "#^Method QUI\\\\ERP\\\\Output\\\\Output\\:\\:getDocumentPdf\\(\\) has invalid return type QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 2
			path: src/QUI/ERP/Output/Output.php

		-
			message: "#^Call to method setContentHTML\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/ERP/Output/OutputTemplate.php

		-
			message: "#^Call to method setFooterHTML\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/ERP/Output/OutputTemplate.php

		-
			message: "#^Call to method setHeaderHTML\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/ERP/Output/OutputTemplate.php

		-
			message: "#^Instantiated class QUI\\\\HtmlToPdf\\\\Document not found\\.$#"
			count: 1
			path: src/QUI/ERP/Output/OutputTemplate.php

		-
			message: "#^Method QUI\\\\ERP\\\\Output\\\\OutputTemplate\\:\\:getPDFDocument\\(\\) has invalid return type QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 2
			path: src/QUI/ERP/Output/OutputTemplate.php

		-
			message: "#^Call to method getAmountFormatted\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getAttribute\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getAttribute\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getAttribute\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Offer\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getDate\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getHash\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Offer\\.$#"
			count: 3
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getHash\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getHistory\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getHistory\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getHistory\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Offer\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getPrefixedNumber\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getPrefixedNumber\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getUUID\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to method getUUID\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Handler\\.$#"
			count: 3
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getSalesOrder\\(\\) on an unknown class QUI\\\\ERP\\\\SalesOrders\\\\Handler\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getTableSalesOrders\\(\\) on an unknown class QUI\\\\ERP\\\\SalesOrders\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice not found\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary not found\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getInvoices\\(\\) has invalid return type QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getInvoices\\(\\) has invalid return type QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getOffers\\(\\) has invalid return type QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Offer\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getOrder\\(\\) has invalid return type QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getOrder\\(\\) has invalid return type QUI\\\\ERP\\\\Order\\\\OrderInProcess\\.$#"
			count: 2
			path: src/QUI/ERP/Process.php

		-
			message: "#^Method QUI\\\\ERP\\\\Process\\:\\:getTransactions\\(\\) has invalid return type QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Transaction\\.$#"
			count: 1
			path: src/QUI/ERP/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Offers\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Call to static method getTableSalesOrders\\(\\) on an unknown class QUI\\\\ERP\\\\SalesOrders\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Call to static method table\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Factory\\.$#"
			count: 1
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 2
			path: src/QUI/ERP/Processes.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Payments\\\\Transactions\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Utils/Process.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class QUI\\\\ERP\\\\Order\\\\Handler\\.$#"
			count: 1
			path: src/QUI/ERP/Utils/Process.php

		-
			message: "#^Call to static method getInvoiceByString\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Utils\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Utils/Process.php
