<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="general">
                <conf name="businessType">
                    <type>string</type>
                    <defaultValue>B2C</defaultValue>
                </conf>
            </section>
            <section name="sites">
                <conf name="terms_and_conditions">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="revocation">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="paymentsChangeable"/>
        </config>

        <window name="ERP">

            <title>
                <locale group="quiqqer/erp" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="general" index="1">
                    <text>
                        <locale group="quiqqer/erp" var="menu.erp.general.title"/>
                    </text>
                    <icon>fa fa-info</icon>

                    <settings title="numberRanges" name="numberRanges">
                        <title>
                            <locale group="quiqqer/erp" var="menu.erp.general.title"/>
                        </title>

                        <select conf="general.businessType">
                            <text>
                                <locale group="quiqqer/erp" var="shop.settings.businessType"/>
                            </text>
                            <description>
                                <locale group="quiqqer/erp" var="shop.settings.businessType.description"/>
                            </description>

                            <option value="B2C">
                                <locale group="quiqqer/erp" var="shop.settings.businessType.b2cOnly"/>
                            </option>
                            <option value="B2B">
                                <locale group="quiqqer/erp" var="shop.settings.businessType.b2bOnly"/>
                            </option>
                            <option value="B2C-B2B">
                                <locale group="quiqqer/erp" var="shop.settings.businessType.b2cAndB2b"/>
                            </option>
                            <option value="B2B-B2C">
                                <locale group="quiqqer/erp" var="shop.settings.businessType.b2bAndB2c"/>
                            </option>
                        </select>

                        <input type="hidden"
                               label="false"
                               data-qui="package/quiqqer/erp/bin/backend/controls/settings/NumberRange">
                        </input>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/erp" var="menu.erp.sites.title"/>
                        </title>

                        <input conf="sites.terms_and_conditions"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/erp" var="menu.erp.sites.terms.and.conditions"/>
                            </text>
                        </input>

                        <input conf="sites.revocation"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/erp" var="menu.erp.sites.revocation"/>
                            </text>
                        </input>
                    </settings>
                </category>
            </categories>

        </window>

    </settings>
</quiqqer>