.quiqqer-erp-comments {
    float: left;
    width: 100%;
}

.quiqqer-erp-comments-comment {
    background: #f7f7f7;
    float: left;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
}

.quiqqer-erp-comments-comment-type {
    color: #8F9399;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 50px;
}

.quiqqer-erp-comments-comment-data {
    float: left;
    text-align: center;
    width: calc(100% - 50px);
}

.quiqqer-erp-comments-comment-date {
    float: left;
}

.quiqqer-erp-comments-comment-message {
    clear: both;
    float: left;
    text-align: left;
    width: 100%;
}
