.quiqqer-erp-comments {
    float: left;
    width: 100%;
}

.quiqqer-erp-comments-comment {
    background: #f7f7f7;
    float: left;
    margin-bottom: 5px;
    padding: 0 5px 0 0;
    width: 100%;
}

.quiqqer-erp-comments-comment--clickable:hover {
    background: #2F8FC6;
    color: #FFFFFF;
    cursor: pointer;
}

.quiqqer-erp-comments-comment--clickable:hover .quiqqer-erp-comments-comment-type {
    color: #FFFFFF;
}

/** title
 ================================================== */

.quiqqer-erp-comments-title {
    color: #586069;
    float: left;
    line-height: 30px;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-erp-comments-title-icon {
    float: left;
    line-height: 30px;
    padding-top: 3px;
    width: 30px;
}

.quiqqer-erp-comments-title-text {
    float: left;
}

/** list
 ================================================== */

.quiqqer-erp-comments-list {
    float: left;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    width: 100%;
}

.quiqqer-erp-comments-list::before {
    background-color: #eff1f3;
    bottom: 0;
    content: "";
    display: block;
    left: 7px;
    position: absolute;
    top: 0;
    width: 2px;
}

.quiqqer-erp-comments-comment-type {
    color: #8F9399;
    float: left;
    height: 40px;
    font-size: 18px;
    text-align: center;
    position: relative;
    width: 40px;
}

.quiqqer-erp-comments-comment-type .fa {
    line-height: 40px;
}

.quiqqer-erp-comments-comment-data {
    float: left;
    text-align: center;
    padding: 10px;
    width: calc(100% - 50px);
}

.quiqqer-erp-comments-comment-time {
    float: right;
    font-size: 12px;
    padding-right: 5px;
    text-align: right;
    width: 150px;
}

.quiqqer-erp-comments-comment-message {
    float: left;
    text-align: left;
    width: calc(100% - 150px);
}

.quiqqer-erp-comments-comment [data-editable="1"] .fa-edit {
    background: #f7f7f7;
    cursor: pointer;
    display: none;
    left: 0;
    text-align: center;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.quiqqer-erp-comments-comment [data-editable="1"]:hover .fa-edit {
    display: inline-block;
}
