.erp-user-settings-customer-button {
    padding: 20px;
}

.erp-user-settings-customer-button span {
    font-size: 16px;
}

.erp-user-settings-customer-button .fa {
    font-size: 40px;
    width: 100%
}

