.quiqqer-erp-outputDialog {
    padding: 10px !important;
    display: flex;
}

.quiqqer-erp-outputDialog .field-container-item {
    width: 150px !important;
}

.quiqqer-erp-outputDialog-options {
    padding: 5px;
    width: 400px;
}

.quiqqer-erp-outputDialog-options select {
    overflow: hidden;
}

.quiqqer-erp-outputDialog form table {
    border: none;
    padding: 0;
}

.quiqqer-erp-outputDialog select {
    width: 100%;
}

.quiqqer-erp-outputDialog-preview {
    background-color: #efefef;
    float: left;
    height: 100%;
    overflow: auto;
    width: calc(100% - 400px);
}

.quiqqer-erp-outputDialog-preview {
    background: #fff;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    border: none;
    display: block;
    margin: 0 auto;
}

.quiqqer-erp-outputDialog-openMailEditor {
    background-color: #dedede;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    float: right;
    padding: 5px;
}

