.quiqqer-erp-outputMailEditor {
    display: flex;
}

.quiqqer-erp-outputMailEditor-mailEditor {
    flex-grow: 1;
}

.quiqqer-erp-outputMailEditor-mailEditor > label {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.quiqqer-erp-outputMailEditor-mailEditor-subject {
    display: block;
    width: 100%;
}

.quiqqer-erp-outputMailEditor-info {
    float: left;
    margin-top: 10px;
}

.quiqqer-erp-outputMailEditor-mailEditor-content {
    height: 550px;
}

.quiqqer-erp-outputMailEditor-attachments {
    display: none;
    padding: 10px 0 0 10px;
}