.quiqqer-erp-backend-erpItems {
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;
}

.quiqqer-erp-backend-erpItems::-webkit-scrollbar {
    height: 10px;
}

.quiqqer-erp-backend-erpItems-container {
    min-width: 1100px;
}

.quiqqer-erp-backend-erpItems-container-switch {
    background: #FAF6D4;
    color: #ab8327;
    height: 40px;
    width: 100%;
}

.quiqqer-erp-backend-erpItems-container-switch-btn {
    display: inline-block;
    float: left;
    padding: 10px 10px 0 10px;
}

.quiqqer-erp-backend-erpItems-container-switch-desc {
    cursor: pointer;
    float: left;
    line-height: 40px;
}

.quiqqer-erp-backend-erpItems-header {
    background: #DEDEDE;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.quiqqer-erp-backend-erpItems-items {
    display: inline-block;
    height: calc(100% - 30px);
    overflow: auto;
    position: relative;
    width: 100%;
}

.header-cell {
    float: left;
    padding: 5px 10px;
}

.quiqqer-erp-backend-erpItems-header-pos {
    width: 50px;
}

.quiqqer-erp-backend-erpItems-header-description {
    width: calc(100% - 900px);
}

.quiqqer-erp-backend-erpItems-header-quantity {
    text-align: right;
    width: 100px;
}

.quiqqer-erp-backend-erpItems-header-quantity-unit {
    text-align: left;
    width: 100px;
}

.quiqqer-erp-backend-erpItems-header-articleNo,
.quiqqer-erp-backend-erpItems-header-unitPrice,
.quiqqer-erp-backend-erpItems-header-price,
.quiqqer-erp-backend-erpItems-header-vat,
.quiqqer-erp-backend-erpItems-header-discount,
.quiqqer-erp-backend-erpItems-header-total {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
}

.quiqqer-erp-backend-erpItems-header-articleNo {
    text-align: left;
}

.quiqqer-erp-backend-erpItems-header-total {
    width: 150px;
}
