<table class="data-table data-table-flexbox"
       data-qui="package/quiqqer/erp/bin/backend/controls/ErpUserData"
>
    <tr>
        <th>
            {locale group="quiqqer/erp" var="user.settings.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.userNettoStatus"}
                </span>

                {assign var=isNetto value=QUI\ERP\Utils\User::getBruttoNettoUserStatus($User)}
                {assign var=bruttoSelected value=''}
                {assign var=nettoSelected value=''}

                {if $isNetto !== 1}
                {assign var=bruttoSelected value='selected="selected"'}
                {/if}

                {if $isNetto}
                {assign var=nettoSelected value='selected="selected"'}
                {/if}

                <select name="quiqqer.erp.isNettoUser" class="field-container-field">
                    <option value="2" {$bruttoSelected}>
                        {locale group="quiqqer/erp" var="user.settings.userNettoStatus.brutto"}
                    </option>
                    <option value="1" {$nettoSelected}>
                        {locale group="quiqqer/erp" var="user.settings.userNettoStatus.netto"}
                    </option>
                </select>
            </label>
        </td>
    </tr>
    <tr style="display: none">
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.euVatId"}
                </span>
                <input type="text" name="quiqqer.erp.euVatId" class="field-container-field"
                       data-qui="package/quiqqer/erp/bin/backend/controls/settings/VatIdCheck"
                />
            </label>
        </td>
    </tr>
    <tr style="display: none">
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="quiqqer.erp.chUID"}
                </span>
                <input type="text" name="quiqqer.erp.chUID" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.taxId"}
                </span>
                <input type="text" name="quiqqer.erp.taxId" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.address"}
                </span>
                <select type="text"
                        name="quiqqer.erp.address"
                        class="field-container-field"
                        data-qui="controls/users/address/Select"
                        data-value="{$User->getAttribute('quiqqer.erp.address')}"
                ></select>
            </label>
        </td>
    </tr>
</table>
