<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="quiqqer/erp" var="user.settings.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.userNettoStatus"}
                </span>
                <span class="field-container-field">
                    {if QUI\ERP\Utils\User::getBruttoNettoUserStatus($User) === 1}
                    {locale group="quiqqer/erp" var="user.settings.userNettoStatus.netto"}
                    {else}
                    {locale group="quiqqer/erp" var="user.settings.userNettoStatus.brutto"}
                    {/if}
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.euVatId"}
                </span>
                <input type="text" name="quiqqer.erp.euVatId" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.taxId"}
                </span>
                <input type="text" name="quiqqer.erp.taxId" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/erp" var="user.settings.address"}
                </span>
                <select type="text"
                        name="quiqqer.erp.address"
                        class="field-container-field"
                        data-qui="controls/users/address/Select"
                        data-value="{$User->getAttribute('quiqqer.erp.address')}"
                ></select>
            </label>
        </td>
    </tr>
</table>
